.profileScreen {
    height: 100vh;
    color: white;
}

.profileScreen_body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}

.profileScreen_Info {
    display:flex;
}

.profileScreen_details {
    color: white;
    margin-left: 20px;
    flex: 1;

}

.profileScreen_details > h2 {
    background-color: grey;
    padding-left: 20px;
    padding: 10px;
    font-size: 15px;
}

.profileScreen_signout {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    border: none;
    cursor: pointer;
    background-color: #e50914;
    color: white;
}

.profileScreen_signout:hover {
opacity: 0.7;
transition: all 0.3s;
background-color: #e50914;
}

.profileScreen_body > h1 {
margin-bottom: 20px;
font-size: 60px;
font-weight: 400;
border-bottom: 1px solid
}

.profileScreen_Info > img {
    height: 100px;
}

.profileScreens_plans {
    margin-top: 20px;
}

.profileScreens_plans > h3 {
border-bottom: 1px solid white;
padding-bottom: 10px;
}
